.popUp{
    margin: 0px 0px;
    position: fixed;
    width: 70%;
    height: 78%;
    z-index: 3;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to left bottom,#36080F, black,#08362E,#36080F);
    color:#5C84B2;
}
.popUpHeaders{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.exitImage{
    width: 40px;
    height: 40px;
    transition: opacity 0.2s ease;
    margin-right: 20px;
}
.exitImage:hover{
    opacity: 0.5;
}
.projectTitle{
    margin-left: 20px;
}
.projectTitle img{
    width: 8%;
}
.left{
    display: flex;
}
.popMain{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.row1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.row1Main{
    margin: 10px 10px; 
}
.row2Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.row2 h1{
    margin-bottom: 0px;
    margin-top: 20px;
}
.row2 p{
    margin-top: 5px;
    font-family: monospace;
    font-size: 17px;
    padding: 0px 20px;
}

